header.weekdays
    each day in ['Sun', 'Mon', 'Tues', 'Wed', 'Thu', 'Fri', 'Sat']
        div.weekday= day
section.days
    each week in days
        section.week
            each day in week
                - var classes = ["day", "day__active_" + day.monthIsCurrent, "day__current_" + day.today]
                article(data-date=day.date, class=classes)
                    h2.date= day.day
                    p.events-counter
                    section.events
