html
  height 100%

body
  font 12px/20px Verdana, sans-serif;
  min-height 100%
  margin 0
  padding 0
  background url(/i/bg.png) #ececec
  color: #3f3f3f

h1
  margin 0

h2
  margin 0

h3
  margin 0

.app
  position fixed
  top 7.3%
  right 7.3%
  bottom 7.3%
  left 7.3%

.page
  display flex
  flex-direction column
  height 100%
  border solid 1px #b4b4b4
  border-radius 2px

.page-header
  display flex
  flex-direction row
  align-items center
  height 68px
  border-bottom solid 1px #bec3cf
  background-cozlor #f2f3f6
  background-image -webkit-linear-gradient(top, #FFF, #e4e6ec)
  border-radius 2px 2px 0 0

.page-title
  font: bold 28px/1 Helvetica, Arial, serif;
  flex 1 0 0
  text-align center
  order 1
  color #717f9d

pager()
  position relative
  display block
  box-sizing border-box
  width 37px
  height 37px
  margin 21px
  padding 5px
  cursor pointer

  &:hover
    opacity .8

  &:active
    top: 2px

  &::before
    content ""
    position absolute
    left 0
    right 0
    top 0
    bottom 0

.pager-prev
  pager()
  order 0
  &::before
    background url(/i/arr_prev.png)

.pager-next
  pager()
  order 3
  &::before
    background url(/i/arr_next.png)

.month
  display flex
  flex-grow 1
  flex-direction column

.weekdays
  display flex
  flex-direction row
  height 30px

.weekday
  flex 1 0 0
  text-align center

.days
  display flex
  flex-grow 1
  flex-direction column

.week
  display flex
  flex-direction row
  flex-grow 1

.day
  position relative
  flex: 1 0 0
  box-shadow inset 0 0 8px #999
  border solid 1px #999

.date
  position absolute
  top 2px
  right 2px

.dayPopup {
  position absolute
  z-index 10
  left 100%
  border solid 1px #999
  border-radius 2px
}